// Custom styles.

.highlight .line {
  -moz-tab-size: 2; /* Code for Firefox */
  -o-tab-size: 2; /* Code for Opera 10.6-12.1 */
  tab-size: 2;
}

ul, ol {
  padding-left: 20px;
}

p { 
  margin: 0; 
}

.post-body h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 20px;
}

.posts-expand .post {
  margin-top: 50px;
}

// Read more button
.post-body .post-button {
  margin-top: 5px;
}